body {
  position: relative;
  font-family: "Georgia";
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 1.6em;
  color: #323232;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  /* max-width: 1440px; */
  background-color: white;
}

@media screen and (min-width: 767px) {
  html {
    text-rendering: optimizeLegibility;
  }
}

a {
  color: #323232;
  text-decoration: underline solid #323232;
}

a:hover,
a:active {
  color: #ffd666;
  text-decoration: none;
}
em {
  font-style: italic;
}
b {
  font-style: bold;
}

::selection {
  background: #ffd666;
}

ul {
  margin-top: 0;
  padding-left: 20px;
}

h1 {
  font-family: "Roboto Condensed", "Helvetica Condensed", "Helvetica Neue",
    Helvetica, sans-serif;
  /* font-size: 40px; */
  font-weight: 500;
  line-height: 70px;
  font-size: 72px;
  letter-spacing: -2px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 39px;
    letter-spacing: -1px;
  }
}

h2 {
  font-family: "Roboto Condensed", "Helvetica Condensed", "Helvetica Neue",
    Helvetica, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.3px;
  /* text-transform: uppercase; */
  margin-top: 45px;
  margin-bottom: 0;
}
h3 {
  font-family: "Roboto Condensed", "Helvetica Condensed", "Helvetica Neue",
    Helvetica, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-top: 30px;
  text-transform: uppercase;
}

h4 {
  font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 0.9px;
  /* text-transform: uppercase; */
  margin: 4px;
}
h5 {
  font-family: Helvetica Neue, Helvetica, Roboto, sans-serif;
  font-size: 18px;

  /* font-weight: bold; */
  /* letter-spacing: -0.1px; */
}

.button {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  background-color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 13px;
}

.button:hover {
  background-color: black;
  color: #ffd666;
}

/*remove red outline in moz*/
/* input:invalid {
  box-shadow: none;
}
input:-moz-submit-invalid {
  box-shadow: none;
}
input:-moz-ui-invalid {
  box-shadow: none;
} */

blockquote {
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  padding-left: 40px;
  border-left: 3px solid #eee;
}

/* Styles for blog post */

/* .blog-post-body > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
} */

.blog-post-body div p > img {
  max-height: 350px;
  margin-left: -10%;
  width: 120%;
  object-fit: cover;
  align-self: center;
  border-radius: 4px;
}

.blog-post-body h2,
.blog-post-body h3 {
  align-self: flex-start;
}

.blog-post-body p {
  line-height: 1.6em;
  margin-bottom: 1.6em;
}

.gatsby-resp-image-wrapper {
  margin-top: 3em;
  width: 150%;
  left: -15% !important;
}

.gatsby-resp-image-figcaption {
  position: relative;
  text-align: right;
  padding-bottom: 2em;
  text-align: left;
  left: -15% !important;
}

/* 
@media not screen and (min-width: 1000px) {
  .gatsby-resp-image-wrapper {
    max-width: 492px;
    left: -5% !important;
    width: 110%;
    object-fit: cover;
    align-self: center;
    border-radius: 4px;
  }
  .gatsby-resp-image-figcaption {
    left: 0% !important;
    position: relative;
    text-align: left;
    padding-bottom: 1em;
    max-width: 492px;
  }

  figure {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  figcaption {
    margin-top: 8px;
  }
} */

figcaption {
  font-family: Helvetica Neue, Helvetica, Roboto, sans-serif;
  letter-spacing: -0.2px;
  color: gray;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.2em;
}

.author-head-img {
  width: auto;
  height: 40px;
  margin-right: 20px;
  user-select: none;
  filter: drop-shadow(1px 3px 2px #eee);
  text-transform: uppercase;
}

/*aimed at social media icons on netlify CMS*/
.social-media-icons svg {
  width: 40px;
}

@media screen and (max-width: 767px) {
  .blog-post-body div {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
  }

  .blog-post-body div div {
    margin-left: 0;
    margin-right: 0;
  }

  .blog-post-body p > img {
    max-height: 100px;
    width: 110%;
    margin-left: -5%;
    object-fit: cover;
  }

  .blog-post-body h2 {
    margin-left: 0;
  }

  .popup-content {
    width: 80% !important;
  }
}

/* Style inputs, select elements and textareas */
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #ffd666;
  color: white;
}

.popup-content {
  padding: 20px !important;
}
